<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Aquí puedes incluir estilos específicos para esta página si es necesario -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/estilo_LayoutVentas.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    
    

</head>
<body>
    @RenderBody() 
    <nav>
        <div class="logo">
            <i class='bx bx-menu menu-icon'></i>
            <span class=" "logo-name">Administrador</span>
        </div>

        
        <div class="sidebar">

            <div class="logo">
                <i class='bx bx-menu menu-icon'></i>
                <span class=" " logo-name">Administrador</span>
            </div>

            <div class="sidebar-content">
                <ul class="lists">

                    <li class="list">
                        <a href="\Administrador/PaginaPrincipal" class="nav-link">
                            <i class='bx bx-face icon'></i>   
                            <span class="link">Puestos</span>

                        </a>
                    </li>

                    <li class="list">
                        <a href="\Administrador/Zonas" class="nav-link">
                            <i class='bx bx-directions icon'></i>
                            <span class="link">Zonas</span>

                        </a>
                    </li>

                    <li class="list">
                        <a href="\Administrador/Sector" class="nav-link">
                            <i class='bx bx-list-ul icon'></i>  
                            <span class="link">Sectores</span>

                        </a>
                    </li>

                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class='bx bx-package icon'></i> 
                            <span class="link">Familias</span>

                        </a>
                    </li>


                    
                </ul>
                <div class="bottom-content">

                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class='bx bxs-id-card icon'></i>
                            <span class="link">Perfil</span>

                        </a>
                    </li>

                    <li class="list">
                        <a href="\Index" class="nav-link">
                            <i class='bx bx-log-out icon'></i>
                            <span class="link">Cerrar Sesión</span>

                        </a>
                    </li>
                </div>
            </div>
        </div>
    </nav>
    <section class="overlay">

    <script>
        const navBar = document.querySelector("nav"),
            menuBtns = document.querySelectorAll(".menu-icon"),
            overlay = document.querySelector(".overlay");
        menuBtns.forEach(menuBtn => { 
            menuBtn.addEventListener("click", () => {
                navBar.classList.toggle("open")
            })
        })

        overlay.addEventListener("click", () => {
            navBar.classList.remove("open")
        })

    </script>
        
    </section>

    <!-- Bootstrap -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>