@page
@model ERP.Pages.Ventas.CrearCotizacionModel
@{
    Layout = "_LayoutRRHH";
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-top: 80px;
    }

    .contenedorPrincipal {
        background: rgba(19, 35, 47,.9);
        padding: 40px;
        border-radius: 4px;
        margin: 40px auto;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47,.3);
        max-width: 1400px;
        width: 90%;
    }

    h1 {
        color: #ffffff;
        text-align: left;
        margin: 20px;
    }

    .linea {
        height: 1px; /* Grosor de la línea */
        background-color: white; /* Color de la línea */
        position: relative; /* Aseguramos que la línea esté posicionada */
        left: 50%; /* Mover al centro */
        transform: translateX(-50%); /* Alinear al centro */
    }

    .seleccionCliente {
        display: flex;
        justify-content: space-between;
    }

        .seleccionCliente div {
            display: flex;
            flex-direction: column; /* Asegura que los inputs y mensajes de error estén alineados verticalmente */
        }

    label {
        color: #ffffff;
        /*margin-right: 15px;*/
        /*margin-left: 15px;*/
        margin: 20px;
        font-size: 20px;
    }
</style>


<div class="contenedorPrincipal">
    <h1>Crear Cotización</h1>
    <div class="linea"></div>
    <form method="POST">
        <div class"seleccionCliente">
            <div>
                <label>Cliente: </label>
                <select class="selectpicker" data-live-search="true">
                    <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                    <option data-tokens="mustard">Burger, Shake and a Smile</option>
                    <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                </select>
                <label>Nombre: </label>
                <input type="text" id="primerNombre" asp-for="nombreCliente" value="@Model.nombreCliente" placeholder="Primer Nombre" />
            </div>
        </div>
    </form>
</div>
