@page
@model ERP.Pages.RRHH.PlanillaModel
@{
    Layout = "_LayoutRRHH";
}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        margin-top: 80px;
    }

    form {
        background: rgba(19, 35, 47,.9);
        padding: 40px;
        border-radius: 4px;
        margin: 40px auto;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47,.3);
        max-width: 1200px;
        width: 90%;
    }

    h1 {
        color: #ffffff;
        text-align: center;
        margin: 0 0 40px;
    }

    h2 {
        color: #ffffff;
        text-align: left;
        margin-bottom: 20px;
    }


    .Boton {
        display: block;
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .1em;
        background: #1ab188;
        color: #ffffff;
        transition: all.5s ease;
        -webkit-appearance: none;
        margin: 0 auto; 
    }

    .table input[type="text"] {
        width: 100%; /* Ajusta el campo de texto al 100% del ancho disponible de la celda */
        max-width: 150px; /* Define un ancho máximo para evitar que se desborde */
        box-sizing: border-box; /* Asegura que el padding se respete dentro del ancho total */
    }
    .table {
        table-layout: fixed; 
        width: 100%; 
    }

        .table td {
            padding: 8px; /* Ajusta el padding según lo que necesites */
        }

</style>
<div class="container">
    <form method="POST">
        <h2>Permisos del Usuario</h2>
        <div class="card">
            <h5 class="card-header">Marque en la tabla los permisos que tendrá el usuario</h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Cédula</th>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Puesto</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Cantidad de horas jornada regular</th>
                            <th scope="col">Cantidad de horas extras</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Empleados</td>
                            <td> </td>
                            <td><input type="checkbox" name="empleadosVisualizar"></td>
                            <td><input type="text" name="nombreDelCampo"></td>
                            <td><input type="text" name="nombreDelCampo"></td>
                            <td><input type="text" name="nombreDelCampo"></td>
                        </tr>
                        <tr>
                            <td>Planilla</td>
                            <td><input type="checkbox" name="planillaCrear"></td>
                            <td><input type="checkbox" name="planillaVisualizar"></td>
                            <td><input type="checkbox" name="planillaReportes"></td>
                        </tr>
                        <tr>
                            <td>Clientes</td>
                            <td><input type="checkbox" name="clientesCrear"></td>
                            <td><input type="checkbox" name="clientesVisualizar"></td>
                            <td><input type="checkbox" name="clientesReportes"></td>
                        </tr>
                        <tr>
                            <td>Histórico de Puestos</td>
                            <td><input type="checkbox" name="historicoPuestosCrear"></td>
                            <td><input type="checkbox" name="historicoPuestosVisualizar"></td>
                            <td><input type="checkbox" name="historicoPuestosReportes"></td>
                        </tr>
                        <tr>
                            <td>Histórico de Salarios</td>
                            <td><input type="checkbox" name="historicoSalariosCrear"></td>
                            <td><input type="checkbox" name="historicoSalariosVisualizar"></td>
                            <td><input type="checkbox" name="historicoSalariosReportes"></td>
                        </tr>
                        <tr>
                            <td>Facturación</td>
                            <td><input type="checkbox" name="facturacionCrear"></td>
                            <td><input type="checkbox" name="facturacionVisualizar"></td>
                            <td><input type="checkbox" name="facturacionReportes"></td>
                        </tr>
                        <tr>
                            <td>Cotizaciones</td>
                            <td><input type="checkbox" name="cotizacionCrear"></td>
                            <td><input type="checkbox" name="cotizacionVisualizar"></td>
                            <td><input type="checkbox" name="cotizacionReportes"></td>
                        </tr>
                        <tr>
                            <td>Inventario</td>
                            <td> </td>
                            <td><input type="checkbox" name="inventarioVisualizar"></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Entradas de Inventario</td>
                            <td><input type="checkbox" name="entradasDeInventarioCrear"></td>
                            <td><input type="checkbox" name="entradasDeInventarioVisualizar"></td>
                            <td><input type="checkbox" name="entradasDeInventarioReportes"></td>
                        </tr>
                        <tr>
                            <td>Salidas de Inventario</td>
                            <td><input type="checkbox" name="salidasDeInventarioCrear"></td>
                            <td><input type="checkbox" name="salidasDeInventarioVisualizar"></td>
                            <td><input type="checkbox" name="salidasDeInventarioReportes"></td>
                        </tr>
                        <tr>
                            <td>Movimientos de Inventario</td>
                            <td><input type="checkbox" name="movimientosDeInventarioCrear"></td>
                            <td><input type="checkbox" name="movimientosDeInventarioVisualizar"></td>
                            <td><input type="checkbox" name="movimientosDeInventarioReportes"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Botón para registrar-->
        <br> <br />
        <input class="Boton" type="submit" name="Registar" value="Registrar Empleado" />
    </form>


</div>

